$percent: 100%;
$distance: 20%;
$color: black;
$margin: -22%;
$font: 15px;
$color-green : lightseagreen;

.modal {
    position: fixed;
    width: $percent;
    height: $percent;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal_content {
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: $distance;
    left: 35%;
    width: $distance;
    height: $distance;
    padding: 5%;
    border-radius: 8px;
    border: 2px solid $color;
  }
  .close {
    color: $color;
    float: right;
    margin-top: $margin;
    margin-right: $margin;
  }
  .close:hover {
    color: $color-green;
    cursor: pointer;
  }
  input{
    height: 30%;
    margin-bottom: 10%;
    font-size: $font;
  }
  .add_button{
      background-color: $color-green;
      padding: 10px 20px;
      border: none;
      color: white;
      font-size: $font;
      font-weight: bold;
      cursor: pointer;
  }
  .add_button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }