@import "../../main.scss";

$distance: 20%;
$margin: -22%;
$font: 15px;

.Modal {
  position: fixed;
  width: $percent;
  height: $percent;
  background-color: rgba(0, 0, 0, 0.7);

  &_content{
    background-color: $bgColor;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: $distance;
    left: 35%;
    width: $distance;
    height: $distance;
    padding: 5%;
    border-radius: 8px;
    border: 2px solid $color-black;
  }
}

.Close {
  color: $color-black;
  float: right;
  margin-top: $margin;
  margin-right: $margin;

  &:hover{
    color: $color-green;
    cursor: pointer;
  }
}

input {
  height: 30%;
  margin-bottom: 10%;
  font-size: $font;
}

.AddButton {
  background-color: $color-green;
  padding: 10px 20px;
  border: 0;
  color: white;
  font-size: $font;
  font-weight: bold;
  cursor: pointer;

  &:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}