@import "../../main.scss";

.Card{
    background-color: $bgColor;
    width: 88%;
    padding: 1.8%;
    margin: 4%;
    border-radius: 10px;
    font-size: $percent;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}